@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Passero+One&family=Passion+One:wght@400;700;900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Passion+One:wght@400;700;900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

@font-face {
    font-family: Cordel;
    src: url(fontes/cordel_groteska/Cordel\ Groteska.otf);
}
:root{
    --font-destaque: 'Cordel', cursive;
    --font-texto: 'Sriracha';
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}
*{  margin: 0px;
    padding: 0px;}
header{
    background-color: black;
    color: white;
    padding: 80px 80px;
}
header > h1{
    font-size: 6.5vw;
    font-family: var(--font-destaque);
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
}
header > p{
    font-family: var(--fonte-padrao);
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
}
a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover{
    color: rgb(240, 200, 142);
    text-decoration: underline;
}
section{
    font-family: var(--font-texto);
    font-size: 4.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    color: white;
    box-shadow:  inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.208);
    text-shadow: black 0.1em 0.1em 0.2em;
}
div#girassol{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
div#pagina{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-attachment: fixed;
}
footer{
    font-family: var(--fonte-padrao);
    font-size: 1em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

footer a:hover{
    color: rgb(240, 200, 142);
    text-decoration: underline;
}